#{extends 'main.html' /}
#{set title:'Home' /}

<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}"> 

<h1>Alertas</h1>

<table>
    <thead>
    <td>Fecha Envío</td>
    <td>Status</td>
    <td>Tipo</td>
    <td>Id</td>
    <td>Sender</td>
    <td>Evento</td>
    </thead>
    #{paginate.list items:paginator, as:'r'}
    <tr>
        <td>${r.sent}</td>
        <td>${r.status}</td>
        <td>${r.type}</td>
        <td>${r.messageId}</td>
        <td>${r.senderId}</td>
        <td>${r.infos.get(0).event}</td>
    </tr>
    #{/paginate.list} 
    <tfoot>
        #{paginate.controls items:paginator /} 
    </tfoot>
</table>

#{paginate.summary items:paginator/}